@import 'colors.scss';


body {
    background: $color-slate;
}

nav.navbar {
    height: 50px !important;
    padding: 0px;
}

nav.bg-steel {
    background: $color-dark-steel;
    border-radius: 0px;
}

a.navbar-brand {
    color: $color-orange !important;
}

.navbar-logo {
    width: 100px;
    height: 50px;
}

.noborder {
    border-radius: 0px !important;
}

.col {
    margin: 0px;
    padding: 0px;
}