@import 'colors.scss';

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 0 0 0 0;
    font-size: 1.15em;
}

.sidebar-header {
    width: 100%;
    height: 100px;
    color: $color-gray;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    background: $color-purple;
}


.list-element {
    background: #7CD992;
    border: none;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
}